using 'templates/cbs-managed-app.bicep'

param location = 'westeurope'
param subscriptionId = 'xxxxxxxx-xxxx-xxxx-xxx-xxxxxxxxxxxx'
param resourceGroupName = 'your-resource-group-name'

param resourceName = 'my-resource-name'
param alertRecipients = 'my-email-address@contoso.dev'
param arrayName = 'my-array-name'
param licenseKey = 'CBS-TRIAL-LICENSE'
param cbsModelSku = 'V20MUR1'
param orgDomain = 'myorgdomain.dev'
// replace with resource ID of the managed identity (e.g. from output of 01-deploy-prerequisities.sh)
param managedUserIdentityId = '/subscriptions/<---MY SUBSCRITION ID--->/resourceGroups/<---RG NAME--->/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<---NAME OF USER MANAGED IDENTITY --->'
// replace with vNET name (e.g. from output of 01-deploy-prerequisities.sh)
param vnetName = 'my-vnet-name'
param availabilityZone = 1
// replace with an identity (user or group) within tenant, who would approve the JIT requests to manage CBS app resources.
param jitApprovers = [{displayName:'my-cloud-ops-group',id:'<---OBJECT ID OF USER OR GROUP--->',type:'<--- 'group' OR 'user'--->'}]